body {
  border : 3px solid white;
  background: linear-gradient( 45deg, #918de0, #c7c5f8);
  
}

#grid2{
  display : grid;
  grid-template-rows: 3fr 1fr;
  border-left: 2px solid white;
}
.board{

  text-align : center;

}

#grid2 .item{
  
  text-align : center;
  border-left: 1px solid white;
  border-top: 1px solid white;
  font-size: 20px;
  color: white;
  
}
h1 { 
  border-bottom : 2px solid white;
  text-align: center;
  margin: 0px;  

}
h1 a {
  text-decoration: none;
  color : white;
}
.saw {
  background-color:gray;
}

#grid3 {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
table { width: 100%;
  height: 300px;
  text-align : center;
  font-size : 20px;
  font-weight: bold;
  color : white;

}
input { width: 80%;
  font-size: 100%;
  text-align: center;
  
}
.button input{

  font-size: 150%;
  color: white;
  width: 15%;
}
.button img{
  width: 15%;
  font-size: 150%;
  color: white;
}
.help{
  width: 20px;
}