html body {
 
  border : 3px solid white;
  background: linear-gradient( 45deg, #918de0, #c7c5f8);
}


#grid2{
  display : grid;
  grid-template-rows: 3fr 1fr;
  border-left: 2px solid white;
}
#grid2 .board2{
  display : grid;
  grid-template-columns: 2fr 1fr;
}
.board{

  text-align : center;

}
.button{
  display: grid;
  grid-template-rows: 1.5fr 0.5fr;
}

#grid2 .item{
  
  text-align : center;
  border-left: 1px solid white;
  border-top: 1px solid white;
  font-size: 20px;
  color: white;
  
}
h1 { 
  border-bottom : 2px solid white;
  text-align: center;
  margin: 0px;  

}
h1 a {
  text-decoration: none;
  color : white;
}


#grid2 input { width: 40%;
  height: 36px;
  font-size: 100%;
  text-align: center;
  margin: 5px;
  
}

div.button img {
  width: 20%;
  margin: auto;
  color: white;
}


.help{
  width: 36px;
  float: right;
  margin-top: 3px;

}
p {
  border: solid 2px white;
  font-size: 36px;
  color: white;
  
}


.lucky {
  border-left: solid 2px white;
  border-left-width: 2px;
  border-right-width: 2px;
  
}
.lucky b {
  color: white;
  font-weight: bold;
  font-size: 24px;
  margin-top: 20px;
}

.help{
  width: 30px;
  margin-top: 5px;
  margin-right: 5px;
}

.home{
  margin-top: 5px;
  width: 30px;
  text-align: left;
  margin-left: 10px;
}
  

